<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.6"?>
<plugin>

	<!-- Menu contributions -->
	
	<extension point="org.eclipse.ui.menus">
    	<menuContribution allPopups="false"
          				  locationURI="popup:#CompilationUnitEditorContext">
       		<menu id="emergo" label="Emergo!" icon="icons/Emergo-Logo-Blue.png">
          		<command commandId="br.ufpe.cin.emergo.command.generateinterface"
                		 style="push">
          		</command>
       		</menu>
    	</menuContribution>
 	</extension>

	<extension point="org.eclipse.ui.menus">
		<menuContribution locationURI="popup:org.eclipse.ui.popup.any?after=additions">
			<command commandId="br.ufpe.cin.emergo.command.hidefeature" icon="icons/Emergo-Logo-Blue.png">
				<enabledWhen>
					<not>
						<count value="0" />
					</not>
				</enabledWhen>
				<visibleWhen>
					<with variable="activeMenuSelection">
						<iterate>
							<adapt type="org.eclipse.core.resources.IMarker"/>
						</iterate>
					</with>
				</visibleWhen>
			</command>
        	<separator name="group.hide" visible="true"/>  
		</menuContribution>
	</extension>

	<!-- Commands / Handlers -->
	<!--
 		1) Generate Interface
 		2) Hide Features
 	-->

	<extension point="org.eclipse.ui.commands">
		<command defaultHandler="br.ufpe.cin.emergo.handlers.EmergoHandler"
        		 id="br.ufpe.cin.emergo.command.generateinterface"
             	 name="Generate Interface">
		</command>
	</extension>

 	<extension point="org.eclipse.ui.commands">
		<category id="br.ufpe.cin.emergo.command.markerview"
				  name="Markers View Command">
		</category>
		<command categoryId="br.ufpe.cin.emergo.command.markerview"
			description="Hide features except the selected ones" 
			id="br.ufpe.cin.emergo.command.hidefeature"
			name="Hide Other Features">
		</command>
	</extension>

	<extension point="org.eclipse.ui.handlers">
		<handler class="br.ufpe.cin.emergo.handlers.HideFeaturesHandler"
			commandId="br.ufpe.cin.emergo.command.hidefeature" name="Handler for the hidefeature command">
		</handler>
		<enabledWhen>
			<not>
				<count value="0"/>
			</not>
		</enabledWhen>
	</extension>

 	<!-- Shortcuts (keys) -->
 	<!--
 		Map:
 		Ctrl + 9 = Generate Interface
 	-->
 
 	<extension point="org.eclipse.ui.bindings">
    	<key
          commandId="br.ufpe.cin.emergo.command.generateinterface"
          contextId="org.eclipse.ui.contexts.window"
          schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
          sequence="M1+9">
    	</key>
 	</extension>
 	
 	<!-- //#ifdef Editor -->
 	
 	<extension id="javaeditor" point="org.eclipse.ui.editors">
    	<editor
        	name="//#ifdef Java Editor"
            default="true"
            icon="icons/Emergo-Logo-Blue.png"
            contributorClass="org.eclipse.jdt.internal.ui.javaeditor.CompilationUnitEditorActionContributor"
            class="br.ufpe.cin.emergo.editor.IfDefJavaEditor"
            symbolicFontName="org.eclipse.jdt.ui.editors.textfont"
            id="de.ovgu.cide.ColoredFoldingCompilationUnitEditor">
            <contentTypeBinding contentTypeId="org.eclipse.jdt.core.javaSource"/> 
		</editor>
	</extension>

	<!-- View for showing Emergo results as a graph -->
	
	<extension point="org.eclipse.ui.views">
      <category
            name="Emergo View"
            id="br.ufpe.cin.emergo.view">
      </category>
      <view
            name="Emergo Graph View"
            icon="icons/Emergo-Logo-Blue.png" 
            category="br.ufpe.cin.emergo.view"
            class="br.ufpe.cin.emergo.views.GraphView"
            id="br.ufpe.cin.emergo.view.GraphView">
      </view>
   </extension>
   <extension point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               ratio="0.5"
               relative="org.eclipse.ui.views.TaskList"
               relationship="right"
               id="br.ufpe.cin.emergo.view.GraphView">
         </view>
      </perspectiveExtension>
   </extension>
	
	<!-- View for showing Emergo results -->
	
	<extension point="org.eclipse.ui.views">


		<view
			category="br.ufpe.cin.emergo.view"
	    	class="br.ufpe.cin.emergo.views.EmergoResultsView"
			icon="icons/Emergo-Logo-Blue.png"
			id="br.ufpe.cin.emergo.view.EmergoResultsView"
			name="Emergo Table View">
		</view>
	</extension>
 
	<!-- Creating the markers for Emergo results -->

	<extension point="org.eclipse.core.resources.markers"
		id="Emergo.emergomarker"
		class="br.ufpe.cin.emergo.markers.EmergoMarker"
		name="Emergo Marker">
		<persistent value="false"/>
		<super type="org.eclipse.core.resources.marker"/>
   	</extension>

   	<extension point="org.eclipse.ui.ide.markerSupport">
		<markerField 
			class="br.ufpe.cin.emergo.markers.ConfigurationColumn"
			id="br.ufpe.cin.emergo.markers.configurationColumn" 
			name="Configuration"> 
		</markerField>

		<markerField
			class="br.ufpe.cin.emergo.markers.FeatureColumn"
			id="br.ufpe.cin.emergo.markers.featureColumn" 
			name="Feature"> 
		</markerField>

		<markerContentGenerator id="emergoResultsSupport" name="Emergo Table View" defaultMarkerGrouping="org.eclipse.ui.ide.type">
			<markerTypeReference id="Emergo.emergomarker"/>
			<markerFieldReference id="org.eclipse.ui.ide.severityAndDescriptionField"/>
			<markerFieldReference id="br.ufpe.cin.emergo.markers.configurationColumn"/>
			<markerFieldReference id="org.eclipse.ui.ide.locationField"/>
			<markerFieldReference id="br.ufpe.cin.emergo.markers.featureColumn"/>
			<markerFieldReference id="org.eclipse.ui.ide.resourceField"/>
		</markerContentGenerator>
 	</extension>

</plugin>
